/*custom checkbox*/
.checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: absolute;
  inset: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: 2px solid var(--dark-blue);
  background-color: #ffffff;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ceecee;
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--dark-blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
