.last-word-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.last-word-section aside {
  width: 15%;
}
.last-word-section article {
  width: 85%;
}
.last-word-section .checkbox {
  width: 10%;
}
